<nav #sidebar class="navbar-dark sidebar bg-dark" [ngClass]="{'mr-0':toggleSideBar}" (click)="sidebarClicked($event)">
  <ul class="navbar-nav">

    <li *ngFor="let item of sidebarMenuData;let i = index" class="nav-item dropdown"
      [ngClass]="{'dropdown':item.subMenus && item.subMenus.length>0}" (click)="toggleSideBar = true">
      <a routerLink="{{item.url}}" class="nav-link d-flex"
        [ngClass]="{'active':currentTab == item.url || (item.url =='dashboard' && currentTab =='') }"
        *ngIf="!item.subMenus" (click)="currentActiveTab(item.url,'', '')">
        <div class="w-30"><i class="fa {{item.icon}} fa-2x"></i></div>
        <span [innerHTML]="item.name"></span>
      </a>

      <a *ngIf="item.subMenus && item.subMenus.length > 0"
        [ngClass]="{'active':currentTab == item.url || currentParentTab == item.url}"
        class="nav-link dropdown-toggle d-flex align-items-center"
        (click)="currentActiveTab(item.url,'', 'dropdownTarget_'+i)">

        <div class="w-30"><i class="fa {{item.icon}} fa-2x"></i></div>
        <span [innerHTML]="item.name"></span>
      </a>

      <ul *ngIf="item.subMenus && item.subMenus.length > 0" class="dropdown-list list-unstyled navbar-collapse collapse"
        [id]="'dropdownTarget_'+i" [ngClass]="{'show':currentParentTab==item.url}">
        <li *ngFor="let subItem of item.subMenus;let j = index" class="nav-item">
          <a class="nav-link d-flex" [ngClass]="{'active':currentParentTab == item.url && currentTab == subItem.url}"
            routerLink="{{item.url}}/{{subItem.url}}" (click)="currentActiveTab(subItem.url,item.url, '')">
            <div class="w-30"></div>
            <span [innerHTML]="subItem.name"></span>
          </a></li>
      </ul>

    </li>
    <li class="nav-item dropdown quicklinks" (click)="toggleSideBar = true">
      <a class="nav-link dropdown-toggle d-flex align-items-center"
        [ngClass]="{'active':currentTab == 'quickLinks' || currentParentTab == 'quickLinks'}"
        (click)="currentActiveTab('quickLinks','', 'quickLinks')">

        <div class="w-30"><i class="fa fa-external-link fa-2x"></i></div>
        <span>Quick Links</span>
      </a>
      <ul id="quickLinks" *ngIf="quickLinks && quickLinks.length > 0"
        class="navbar-nav dropdown-list list-unstyled navbar-collapse collapse">

        <li class="nav-item dropdown quicklinks"
          *ngFor="let item of quickLinks;let i = index">
          <a class="nav-link dropdown-toggle d-flex align-items-center"
            [ngClass]="{'active':currentTab == item.group && currentParentTab == 'quickLinks'}"
            (click)="activeQlCdild = !activeQlCdild;currentActiveTab(item.group, 'quickLinks', 'quickLinksChild_'+i)">
            <div class="w-30"></div>
            <div class="w-15"><i class="fa fa-caret-right"></i></div>
            <span [innerHTML]="item.group"></span>
          </a>
          <ul [id]="'quickLinksChild_'+i" class="navbar-nav dropdown-list list-unstyled navbar-collapse collapse">
            <li class="nav-item dropdown" *ngFor="let link of item.links;let j = index;let last = last;let first = first">
              <a class="nav-link d-flex" [ngClass]="{'active':currentParentTab == 'quickLinks' && currentTab == link.url}" [href]="link.url" (click)="currentActiveTab(link.url,'quickLinks', 'quickLinksChild_'+j)">
                <div class="w-30"></div>
                <span class="d-flex small">
                  <div class="w-15 small"></div>
                  <span>{{link.name}}</span>
                </span>
              </a>
              <div class="show-add-ql-plus-icon" *ngIf=!last>
                <span (click)="toggleAddQuickLink(true, j+1)"><i class="fa fa-plus"></i></span>
              </div>
              <div class="more-icon">
                <span class="more-menu-toggle" (click)="moreMenuToggleClicked('moreMenu_'+i+j)"><i
                    class="fa fa-ellipsis-v"></i></span>
                <div class="more-menu-dropdown" [id]="'moreMenu_'+i+j">
                  <div class="d-block" *ngIf="!first" (click)="reOrderQuickLinks($event, i, 'up')">Move Up</div>
                  <div class="d-block" *ngIf="!last" (click)="reOrderQuickLinks($event, i, 'down')">Move Down</div>
                  <div class="d-block" (click)="updateQuickLink($event, i)">Edit</div>
                  <div class="d-block" (click)="removeQuickLink($event, i)">Remove</div>
                </div>
              </div>
            </li>
          </ul>
          
        </li>


        <!-- <li *ngFor="let item of quickLinks;let i = index; let last = last;let first = first" class="nav-item dropdown">
          <a class="nav-link d-flex" [ngClass]="{'active':currentParentTab == 'quickLinks' && currentTab == item.url}"
            [href]="item.url" (click)="currentActiveTab(item.url,'quickLinks', '')">
            <div class="w-30"></div>
            <span [innerHTML]="item.name"></span>
          </a>
          <div class="show-add-ql-plus-icon" *ngIf=!last>
            <span (click)="toggleAddQuickLink(true, i+1)"><i class="fa fa-plus"></i></span>
          </div>
          <div class="more-icon">
            <span class="more-menu-toggle" (click)="moreMenuToggleClicked('moreMenu_'+i)"><i
                class="fa fa-ellipsis-v"></i></span>
            <div class="more-menu-dropdown" [id]="'moreMenu_'+i">
              <div class="d-block" *ngIf="!first" (click)="reOrderQuickLinks($event, i, 'up')">Move Up</div>
              <div class="d-block" *ngIf="!last" (click)="reOrderQuickLinks($event, i, 'down')">Move Down</div>
              <div class="d-block" (click)="removeQuickLink($event, i)">Remove</div>
            </div>
          </div>
        </li> -->



      </ul>
      <button class="btn btn-light" (click)="toggleAddQuickLink(true, '')"><i class="fa fa-plus"></i></button>
      <div class="dropdown-custom text-dark border" [ngClass]="{'show': showAddQuickLinkFlag}">
        <h3 class="mb-3">Add Link</h3>
        <form [formGroup]="addQuickLinksForm" (ngSubmit)="createQuickLink(null)">

          <div class="form-group input-group">
            <select type="text" class="form-control" formControlName="group" required>
              <option value="">Select a Group</option>
              <!-- <option *ngFor="let item of quickLinks.groups" [innerHTML]="item"></option> -->
              <option value="new">Create a new Group</option>
            </select>
            <div class="invalid-feedback d-block"
              *ngIf="addQuickLinksForm.get('group').touched && addQuickLinksForm.get('group').invalid">
              Group is required
            </div>
          </div>

          <div class="form-group input-group" *ngIf="addQuickLinksForm.get('group').value == 'new'">
            <input type="text" class="form-control" placeholder="Group Name" formControlName="newGroup" required>
            <div class="invalid-feedback d-block"
              *ngIf="addQuickLinksForm.get('newGroup').touched && addQuickLinksForm.get('newGroup').invalid">
              Group Name is required
            </div>
          </div>

          <div class="form-group input-group d-none">
            <input type="text" class="form-control" placeholder="Current Index" formControlName="currentIndex">
          </div>

          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Display Name" formControlName="name" required>
            <div class="invalid-feedback d-block"
              *ngIf="addQuickLinksForm.get('name').touched && addQuickLinksForm.get('name').invalid">
              Display Name is required
            </div>
          </div>
          <div class="form-group input-group">
            <textarea class="form-control" placeholder="URL" formControlName="url"
              pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
              required></textarea>
            <div class="invalid-feedback d-block"
              *ngIf="addQuickLinksForm.get('url').touched && addQuickLinksForm.get('url').invalid">
              <div *ngIf="addQuickLinksForm.get('url').errors.required">URL is required</div>
              <div *ngIf="addQuickLinksForm.get('url').errors.pattern">URL is invalid</div>

            </div>
          </div>
          <div class="form-group input-group">
            <input type="reset" (click)="toggleAddQuickLink(false, '')" class="btn btn-light mr-2" value="Cancel">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </li>

  </ul>


</nav>